<!--  Content -->
@if (!loading() && !error()) {
  <section>

    <!--  Controls -->
    <div>
      <label>Ordenar por:</label>
      <select (change)="onSortChange($any($event.target).value)">
        <option value="name">Nombre</option>
        <option value="height">Altura</option>
        <option value="mass">Peso</option>
      </select>
    </div>

    <!--  GRID MODIFICADO: Centrado absoluto de celdas -->
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 justify-items-center items-center">
      @for (character of characters(); track character.id) {
        
        <app-character-card
          [character]="character"
          (selected)="goToDetail($event)"
          class="w-full max-w-sm" 
        />
        
      }
    </section>

    <!--  Pagination -->
    <footer>
      <button (click)="onPageChange(page() - 1)" [disabled]="page() === 1">
        Anterior
      </button>

      <span>Página {{ page() }}</span>

      <button (click)="onPageChange(page() + 1)" [disabled]="page() === totalPages()">
        Siguiente
      </button>
    </footer>

  </section>
}