<article
  class="group relative flex h-full flex-col justify-between overflow-hidden rounded-2xl border border-cyan-500/20 bg-black/90 p-4 transition-all duration-300 hover:-translate-y-1 hover:border-cyan-400/40"
>

  <!-- Línea superior futurista -->
  <div
    class="absolute inset-x-0 top-0 h-px bg-cyan-400/40"
  ></div>

  <!-- Header -->
  <header class="mb-4 border-b border-cyan-900/20 pb-3">

    <span
      class="block text-[9px] font-black uppercase tracking-[0.25em] text-cyan-400/70"
    >
      PLANETA
    </span>

    <h2
      class="mt-1 text-2xl font-black tracking-wide text-white"
    >
      {{ planet().name }}
    </h2>

  </header>

  <!-- DATA -->
  <div class="space-y-2 font-mono text-xs">

    <div
      class="rounded-lg border border-cyan-500/10 px-3 py-2"
    >
      <p class="text-[9px] uppercase tracking-[0.18em] text-slate-500">
        Atmósfera
      </p>

      <strong class="text-cyan-300 capitalize">
        {{ planet().climate }}
      </strong>
    </div>

    <div
      class="rounded-lg border border-cyan-500/10 px-3 py-2"
    >
      <p class="text-[9px] uppercase tracking-[0.18em] text-slate-500">
        Superficie
      </p>

      <strong class="text-teal-300 capitalize">
        {{ planet().terrain }}
      </strong>
    </div>

    <div
      class="rounded-lg border border-cyan-500/10 px-3 py-2"
    >
      <p class="text-[9px] uppercase tracking-[0.18em] text-slate-500">
        Población
      </p>

      @if (planet().population !== 'unknown') {

        <strong class="text-cyan-300">
          {{ planet().population | number }}
        </strong>

      } @else {

        <span class="text-[10px] uppercase text-red-400">
          No disponible
        </span>

      }

    </div>

  </div>

  <!-- Footer -->
  <footer
    class="mt-4 flex items-center justify-between border-t border-cyan-900/20 pt-3 text-xs"
  >

    <span class="uppercase tracking-[0.18em] text-slate-500">
      Residentes
    </span>

    <strong class="font-mono text-cyan-300">
      {{ planet().residents.length }}
    </strong>

  </footer>

</article>